@import url('cssReset.css');

body{
    background-image: url('backgroundImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lora', serif;
}
.backgroundOverlay{
    background-color: var(--brown);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    opacity: 31%;
}

.header{
    border: 1px solid white;
    max-width: 317.04px;
    min-width: 250px;
    margin: 40px auto 0 auto;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header h1{
    font-size: 20px;
    color: var(--light-brown);
}

.header p{
    font-size: 14px;
    color: var(--light-brown);
    opacity: 61%;
}

.dropDowns{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 317.04px;
    min-width: 250px;
    margin: auto;
}

.dropDowns select{
    width: 72px;
    height: 42.6px;
    border-radius: 5px;
    border: none;
    /* background-color: red; */
}